# Certificats SSL (auto-signés)
nginx/ssl/*.key
nginx/ssl/*.crt
nginx/ssl/*.pem
nginx/certs/*.pem
.vite/

# Node modules
node_modules/
**/node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Docker
.compose.tmp

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
